.g-assetstore-import-button-container
  a.g-gas-import-button.btn.btn-sm.btn-success(
      href=`#girder_assetstore/${assetstore.get('_id')}/import`,
      title="Import data from a remote Girder instance")
    i.icon-link-ext
    |  Import data
